<%= form_with(model: [@category]) do |f| %>
  <% if @category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@category.errors.count, "error") %> prohibited this category from being saved:</h2>

      <ul>
      <% @category.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="input-group ">
    <%= f.text_field :name, data: { reflex: 'change->Category#submit_edit', reflex_dataset: "combined" },  class: "form-control form-control-sm", placeholder: "Titulo" %>
    <div class="input-group-append">
        <%= button_to "#", data: { reflex: 'click->Category#edit_category', id: @category.id }, class: "btn btn-primary input-group-btn mt-2" do %>
            <div style="font-size: 15px; color: white">Ok</div>
        <% end %>
    </div>
  </div>
<% end %>
