
<h1><%=@category&.name&.capitalize || @categories.first.name.capitalize%></h1>
<div class="row">
    <div class="col-3">
        <% @categories.each do |category| %>
        <ul>
            <li><%=link_to  '#', data: {reflex: 'click->Category#change_category', id: category.id} do %>
                <%= category.name %>
            <% end%>
        </ul>
    <% end %>
    </div>
    <div class="col-9">
        <%= render 'show', category: @category || @categories.first%>
    </dev>
</div>
<table>


</table>

<br />

<%= link_to 'New Category', new_user_category_path(params[:user_id]) %>